In [1]:
import pandas as pd
import numpy as np
import sys

In [2]:
sys.path.append(r'C:/Users/Vaishali/Documents/My Learning/Python/IBL PASA and Propensity/data/script/')

In [3]:
# mapping = pd.read_excel('../data/mapping.xlsx', sheet_name='Sheet1')
# mapping['STATE'] = mapping['STATE'].str.strip().str.upper()

In [4]:
import Updated_Data as dt

In [5]:
data = dt.DataGenerator(354645)
df = data.generate_dataset().reset_index()
df.rename(columns={'index':'ACCOUNT_NO'}, inplace = True)

In [6]:
df.columns

Index(['ACCOUNT_NO', 'ACCOUNT_TYPE', 'CUSTOMER_TAG', 'EDUCATION_LEVEL',
       'GENDER', 'INTERNET_BANKING_USAGE', 'MARITAL_STATUS',
       'NOMINEE_AVAILABLE_FLAG', 'RM_ALLOCATED_FLAG', 'OCCUPATION', 'STATE',
       'FD_FLAG', 'GI_FLAG', 'HEALTH_FLAG', 'TARGET_LI', 'MASS_FLAG',
       'MF_FLAG', 'NR_FLAG', 'ACCOUNT_NO', 'AGE', 'AQB_BALANCE', 'AUM',
       'CIBIL_SCORE', 'CREDIT_CARD_LIMIT', 'CR_AMT_12MNTH', 'CR_CNT_12MNTH',
       'DC_APPAREL_30DAYS_ACTV', 'DC_ECOM_30DAYS_AMT', 'DC_ECOM_30DAYS_CNT',
       'DC_FOOD_30DAYS_ACTV', 'DC_FUEL_30DAYS_ACTV', 'DC_GROCRY_30DAYS_ACTV',
       'DC_OTT_30DAYS_ACTV', 'DC_POS_30DAYS_AMT', 'DC_POS_30DAYS_CNT',
       'DC_RECHARGE_30DAYS_ACTV', 'DC_TRAVEL_30DAYS_ACTV',
       'DC_UTILITY_30DAYS_ACTV', 'DR_AMT_12MNTH', 'DR_CNT_12MNTH',
       'DR_CR_RATIO', 'FD_COUNT', 'FD_CURRENTMONTHANR', 'INCOME_NET',
       'MONTHLY_BALANCE', 'NRV', 'TOTAL_LIVE_SECURED_AMT',
       'TOTAL_LIVE_UNSECURED_AMT', 'VINTAGE_DAYS', 'KYC_LAST_DONE_DATE'],
      dtype='object')

### Data prep part

In [7]:
# Marital Status
df['MARITAL_STATUS'] = df['MARITAL_STATUS'].str.strip().str.upper()
df['MARITAL_STATUS'] = np.where(df['MARITAL_STATUS'].isin(['WIDOW', 'DIVORCED', 'WIDOWER', 'LEGALLY SEPARATED']), 'WIDOWED/SEPARATED/DIVORCED', 
                                                          np.where(df['MARITAL_STATUS'].isin(['UNMARRIED', 'LIVE-IN RELATIONSHIP']), 'UNMARRIED/ SINGLE',
                                                                                             np.where(df['MARITAL_STATUS'].isin(['UNMARRIED', 'LIVE-IN RELATIONSHIP']), 'UNMARRIED/ SINGLE', df['MARITAL_STATUS'])))

In [8]:
# Occupation
df['OCCUPATION'] = df['OCCUPATION'].str.strip().str.upper()
df['OCCUPATION'] = np.where(df['OCCUPATION'].isin(['OTHERS','CURRENCY','TRANSACTION','INFORMATION TECHNOLOGY','SENP - OTHERS','CURRENT_EMPLOYMENT','FINANCE','SENP - MANUFACTURER','AGENCY','NON WORKING','TRADERS - SHARE / COMMODITY','SENP - SERVICE INDUSTRY','EVENT MANAGEMENT','BULLION / GEM / JEWEL / PRECIOUS METAL TRADER']), 'OTHERS', 
                            np.where(df['OCCUPATION'].isin(['BUSINESS','SMALL BUSINESSMAN','INDUSTRIALIST','DOCTOR','ART AND ANTIQUE DEALER','HARDWARE']), 'BUSINNESS OWNER', 
                                     np.where(df['OCCUPATION'].isin(['SALARIED','PVT EMPLOYEE','PROFESSIONAL','PUBLIC UTILITIES AND SERVICES','ENGINEER','ARCHITECT','MNC','DEFENCE FORCE']), 'SALARIED',
                                              np.where(df['OCCUPATION'].isin(['SELF EMPLOYED','SELF EMPLOYEES PROFESSIONAL (SEP)','AGRICULTURE AND ALLIED ACTIVITIES','TRADER','DOCTOR/ DENTIST','GOVT SERVICE (SELF EMPLOYED)','LAWYER','REAL ESTATE BROKERS','ENGINEERING CONSULTANT','TRANSPORT OPERATOR','CHARTERED ACCOUNTANT','CONSULTANT','AGRICULTURE','Self employed','CA-CS','BROKERS','GOVT FREE LANCER','SHOPKEEPER','FARMER']), 'SELF EMPLOYED', df['OCCUPATION']))))

In [9]:
df['STATE'].value_counts()

STATE
Maharashtra                                 42525
Gujarat                                     31945
West Bengal                                 27924
Uttar Pradesh                               25563
Tamil Nadu                                  22887
Haryana                                     22012
Rajasthan                                   17927
Punjab                                      17847
Delhi                                       16733
Madhya Pradesh                              15218
Out of India                                12959
Karnataka                                   11945
Andhra Pradesh                              11654
Telangana                                   11372
Odisha                                      10700
Kerala                                      10391
Bihar                                       10291
Assam                                        7397
Chhattisgarh                                 6625
Jharkhand                                    5589
Uttarakhand                                  2585
Himachal Pradesh                             2304
Goa                                          1974
Jammu and Kashmir                            1922
Chandigarh                                   1895
Manipur                                       865
Nagaland                                      601
Tripura                                       536
Puducherry                                    526
Dadra and Nagar Haveli and Daman and Diu      513
Sikkim                                        446
Arunachal Pradesh                             410
Meghalaya                                     386
Mizoram                                       167
Andaman and Nicobar                            11
Name: count, dtype: int64

In [10]:
state_dic = {'STATE': {0: 'MAH',
  1: 'DLI',
  2: 'UTT',
  3: 'GUJ',
  4: 'HARY',
  5: 'PUN',
  6: 'WES',
  7: 'RAJ',
  8: 'TMU',
  9: 'KRA',
  10: 'ADH',
  11: 'MDH',
  12: 'BIH',
  13: 'KER',
  14: 'ORI',
  15: 'JHA',
  16: 'CHHA',
  17: 'ASS',
  18: 'TEA',
  19: 'CA',
  20: 'UTK',
  21: 'HIM',
  22: 'TLG',
  23: 'JMR',
  24: 'GOA',
  25: 'CA)',
  26: '.',
  27: 'TRI',
  28: 'SIK',
  29: 'MNR',
  30: 'PON',
  31: 'NAG',
  32: 'MEG',
  33: 'DAD',
  34: 'AUH',
  35: 'MIZ',
  36: 'DAM',
  37: 'DUB',
  38: 'ODISH',
  39: 'US',
  40: 'UTL',
  41: 'AE',
  42: 'JAR',
  43: 'SG',
  44: 'GB',
  45: 'CHATT',
  46: 'ABU',
  47: 'ADR',
  48: 'JP',
  49: 'FRA',
  50: 'CN',
  51: 'LK',
  52: 'SWE',
  53: 'NG',
  54: 'CDA',
  55: 'ASA',
  56: 'CAN',
  57: 'UTTRA',
  58: 'KR',
  59: 'SA',
  60: 'DHA',
  61: 'AND',
  62: 'MARY',
  63: 'TEL',
  64: 'NET',
  65: 'NZ',
  66: 'MUSC',
  67: 'FOA',
  68: 'LANTA',
  69: 'KW',
  70: 'SWI',
  71: 'NWY',
  72: 'DE',
  73: 'BEL',
  74: 'TEX',
  75: 'LON',
  76: 'CZ',
  77: 'SHA',
  78: 'KE',
  79: 'GOI',
  80: 'IT',
  81: 'ONT',
  82: 'BRN',
  83: 'RSA',
  84: 'KTU',
  85: 'PUE',
  86: 'KAM',
  87: 'PENN',
  88: 'DEL',
  89: 'MY',
  90: 'IND',
  91: 'BNK',
  92: 'DEC',
  93: 'FR',
  94: 'HAR',
  95: 'TMS',
  96: 'TOK',
  97: 'NWK',
  98: 'HK',
  99: 'QAT',
  100: 'BHN',
  101: 'SAH',
  102: 'KEN',
  103: 'GEO',
  104: 'NP',
  105: 'NL',
  106: 'HAMPS',
  107: 'HAW',
  108: 'PAT',
  109: 'SING',
  110: 'TLK',
  111: 'MHM'},
 'STATE_CAT': {0: 'MAHARASHTRA',
  1: 'NRI OR OTHERS',
  2: 'UTTAR PRADESH',
  3: 'GUJARAT',
  4: 'HARYANA',
  5: 'PUNJAB',
  6: 'WEST BENGAL',
  7: 'RAJASTHAN',
  8: 'TAMIL NADU',
  9: 'KARNATAKA',
  10: 'ANDHRA PRADESH',
  11: 'MADHYA PRADESH',
  12: 'BIHAR',
  13: 'KERALA',
  14: 'ORISSA',
  15: 'JHARKHAND',
  16: 'CHHATTISGARH',
  17: 'ASSAM',
  18: 'NRI OR OTHERS',
  19: 'NRI OR OTHERS',
  20: 'UTTARAKHAND',
  21: 'HIMACHAL PRADESH',
  22: 'NRI OR OTHERS',
  23: 'JAMMU & KASHMIR',
  24: 'GOA',
  25: 'NRI OR OTHERS',
  26: 'NRI OR OTHERS',
  27: 'TIRIPURA',
  28: 'SIKKIM',
  29: 'MANIPUR',
  30: 'PONDICHERRY',
  31: 'NAGALAND',
  32: 'MEGALAYA',
  33: 'DADRA & NAGAR HAVELI',
  34: 'NRI OR OTHERS',
  35: 'MIZORAM',
  36: 'DAMAN AND DIU',
  37: 'NRI OR OTHERS',
  38: 'ORISSA',
  39: 'NRI OR OTHERS',
  40: 'NRI OR OTHERS',
  41: 'NRI OR OTHERS',
  42: 'NRI OR OTHERS',
  43: 'NRI OR OTHERS',
  44: 'NRI OR OTHERS',
  45: 'CHHATTISGARH',
  46: 'NRI OR OTHERS',
  47: 'NRI OR OTHERS',
  48: 'NRI OR OTHERS',
  49: 'NRI OR OTHERS',
  50: 'NRI OR OTHERS',
  51: 'NRI OR OTHERS',
  52: 'NRI OR OTHERS',
  53: 'NRI OR OTHERS',
  54: 'NRI OR OTHERS',
  55: 'NRI OR OTHERS',
  56: 'NRI OR OTHERS',
  57: 'UTTARANCHAL',
  58: 'NRI OR OTHERS',
  59: 'NRI OR OTHERS',
  60: 'NRI OR OTHERS',
  61: 'ANDAMAN AND NICOBAR',
  62: 'NRI OR OTHERS',
  63: 'TELANGANA',
  64: 'NRI OR OTHERS',
  65: 'NRI OR OTHERS',
  66: 'NRI OR OTHERS',
  67: 'NRI OR OTHERS',
  68: 'NRI OR OTHERS',
  69: 'NRI OR OTHERS',
  70: 'NRI OR OTHERS',
  71: 'NRI OR OTHERS',
  72: 'NRI OR OTHERS',
  73: 'NRI OR OTHERS',
  74: 'NRI OR OTHERS',
  75: 'NRI OR OTHERS',
  76: 'NRI OR OTHERS',
  77: 'NRI OR OTHERS',
  78: 'NRI OR OTHERS',
  79: 'NRI OR OTHERS',
  80: 'NRI OR OTHERS',
  81: 'NRI OR OTHERS',
  82: 'NRI OR OTHERS',
  83: 'NRI OR OTHERS',
  84: 'NRI OR OTHERS',
  85: 'NRI OR OTHERS',
  86: 'NRI OR OTHERS',
  87: 'NRI OR OTHERS',
  88: 'DELHI',
  89: 'NRI OR OTHERS',
  90: 'NRI OR OTHERS',
  91: 'NRI OR OTHERS',
  92: 'NRI OR OTHERS',
  93: 'NRI OR OTHERS',
  94: 'NRI OR OTHERS',
  95: 'NRI OR OTHERS',
  96: 'NRI OR OTHERS',
  97: 'NRI OR OTHERS',
  98: 'NRI OR OTHERS',
  99: 'NRI OR OTHERS',
  100: 'NRI OR OTHERS',
  101: 'NRI OR OTHERS',
  102: 'NRI OR OTHERS',
  103: 'NRI OR OTHERS',
  104: 'NRI OR OTHERS',
  105: 'NRI OR OTHERS',
  106: 'NRI OR OTHERS',
  107: 'NRI OR OTHERS',
  108: 'NRI OR OTHERS',
  109: 'NRI OR OTHERS',
  110: 'NRI OR OTHERS',
  111: 'NRI OR OTHERS'}}

In [11]:
state_map = pd.DataFrame(state_dic)

In [12]:
# df = pd.merge(df, state_map, on = 'STATE', how = 'left') # This line needs to be uncommented before sharing it with IBL
df['STATE_CAT'] = df['STATE'].str.strip().str.upper() # this line needs to be commented before sharing with IBL

north = ['DELHI','HARYANA','UTTAR PRADESH','CHANDIGARH','RAJASTHAN','PUNJAB','UTTARANCHAL','JAMMU & KASHMIR','HIMACHAL PRADESH','UTTARAKHAND','MADHYA PRADESH']
east = ['WEST BENGAL','CHHATTISGARH','JHARKHAND','ORISSA','ASSAM','BIHAR','TRIPURA','SIKKIM','MEGHALAYA','MANIPUR','ARUNACHAL PRADESH','MIZORAM','NAGALAND']
west = ['RAJASTHAN','MAHARASHTRA','GOA','GUJARAT','MADHYA PRADESH','DAMAN AND DIU','DADRA & NAGAR HAVELI']
south = ['ANDHRA PRADESH','KARNATAKA','TAMIL NADU','TELANGANA','KERALA','PONDICHERRY']

df['ZONE'] = np.where(df['STATE_CAT'].isin(north), 'NORTH', 
                      np.where(df['STATE_CAT'].isin(east), 'EAST',
                               np.where(df['STATE_CAT'].isin(west), 'WEST',
                                        np.where(df['STATE_CAT'].isin(south), 'SOUTH', 'NRI/ OUT OF INDIA'))))

In [13]:
from datetime import datetime

In [14]:
df['KYC_LAST_DONE_DATE'] = pd.to_datetime(df['KYC_LAST_DONE_DATE'])
df = df[~df['KYC_LAST_DONE_DATE'].isna()].reset_index(drop = True)
df['KYC_RECENCY_YEARS'] = (datetime.now() - df['KYC_LAST_DONE_DATE'])/np.timedelta64(1, 'D')/365

In [15]:
# Function to create buckets
def assign_bucket(var, ranges, label):
    for i, range in enumerate(ranges):
        if var > range:
            return label[i]
    return label[-1] if var > range[-1] else 'Not Available'

In [16]:
kyc_ranges = [0.5, 1, 3, 5]
kyc_labels = ['Less than 6 Months', '6 Months to 1 Year', '1 to 3 Years', '3 to 5 Years', 'More than 5 Years']

df['KYC_RECENCY_BUCKET'] = df['KYC_RECENCY_YEARS'].apply(assign_bucket, args = (kyc_ranges,kyc_labels))

In [31]:
cat_cols = ['ACCOUNT_TYPE',
'CUSTOMER_TAG', # Has lot of values - need input from the bank
'EDUCATION_LEVEL',
'GENDER',
'INTERNET_BANKING_USAGE',
'MARITAL_STATUS',
'NOMINEE_AVAILABLE_FLAG',
'RM_ALLOCATED_FLAG',
'OCCUPATION',
# 'STATE',
'KYC_RECENCY_BUCKET', # Derived
'FD_FLAG', 
'GI_FLAG', 
'HEALTH_FLAG', 
'MASS_FLAG', 
'MF_FLAG', 
'NR_FLAG',
'ZONE' # Derived
]

num_cols = ['AGE', 'AQB_BALANCE', 'AUM', 'CIBIL_SCORE', 'CREDIT_CARD_LIMIT', 'CR_AMT_12MNTH', 'CR_CNT_12MNTH',
            'DC_APPAREL_30DAYS_ACTV', 'DC_ECOM_30DAYS_AMT', 'DC_ECOM_30DAYS_CNT', 'DC_FOOD_30DAYS_ACTV',
            'DC_FUEL_30DAYS_ACTV', 'DC_GROCRY_30DAYS_ACTV', 'DC_OTT_30DAYS_ACTV', 'DC_POS_30DAYS_AMT',
            'DC_POS_30DAYS_CNT', 'DC_RECHARGE_30DAYS_ACTV', 'DC_TRAVEL_30DAYS_ACTV', 'DC_UTILITY_30DAYS_ACTV',
            'DR_AMT_12MNTH', 'DR_CNT_12MNTH', 'DR_CR_RATIO', 'FD_COUNT', 'FD_CURRENTMONTHANR',  # 'INCOME_NET', removing due to less fill rate
            'MONTHLY_BALANCE', 'NRV', 'TOTAL_LIVE_SECURED_AMT', 'TOTAL_LIVE_UNSECURED_AMT',
            'VINTAGE_DAYS']

target = ['TARGET_LI']

In [ ]:
# Missing value treatment for categorical variables
for cat in cat_cols:
    df[cat] = np.where(df[cat].isna(), 'Not Available', df[cat])

In [26]:
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.impute import KNNImputer
from sklearn.model_selection import train_test_split

In [19]:
train, test_valid = train_test_split(df, test_size=0.4, random_state=42, stratify=df['TARGET_LI'])
test, valid = train_test_split(test_valid, test_size=0.5, random_state=42, stratify=test_valid['TARGET_LI'])

In [20]:
train['TARGET_LI'].value_counts(normalize = True)

TARGET_LI
N    0.850677
Y    0.149323
Name: proportion, dtype: float64

In [21]:
test['TARGET_LI'].value_counts(normalize = True)

TARGET_LI
N    0.850668
Y    0.149332
Name: proportion, dtype: float64

In [22]:
valid['TARGET_LI'].value_counts(normalize = True)

TARGET_LI
N    0.850682
Y    0.149318
Name: proportion, dtype: float64

In [24]:
# Missing value treatment for continuous variables
# We are assuming that all the continious variables are skewed and median will be the better representative of the central tendency
# Hence we will replace any missing value with respective median value

imputer = KNNImputer(n_neighbors=5)
imputer_fit = imputer.fit(train[num_cols])

In [25]:
train[num_cols] = imputer_fit.fit_transform(train[num_cols])
test[num_cols] = imputer_fit.fit_transform(test[num_cols])
valid[num_cols] = imputer_fit.fit_transform(valid[num_cols])

In [27]:
# Scaling numerical parameters using standard scaler
scaler = StandardScaler()
scaler_fit = scaler.fit(train[num_cols])

train[num_cols] = scaler_fit.fit_transform(train[num_cols])
test[num_cols] = scaler_fit.fit_transform(test[num_cols])
valid[num_cols] = scaler_fit.fit_transform(valid[num_cols])

In [33]:
# Label encoding categorical variables
le = LabelEncoder()


for col in cat_cols:
    train[col] = le.fit_transform(train[col])
    test[col] = le.fit_transform(test[col])
    valid[col] = le.fit_transform(valid[col])

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

class ModelEvaluator:
    def __init__(self, classifiers):
        self.classifiers = classifiers
        self.results = {}

    def train_and_evaluate(self, X_train, y_train, X_test, y_test):
        for name, model in self.classifiers.items():
            print(f"Training {name}...")
            if name == "Logistic Regression":
                model.fit(X_train, y_train)
                y_pred = model.predict(X_test)
            else:
                model.fit(X_train, y_train)
                y_pred = model.predict(X_test)
            
            # Calculate accuracy
            accuracy = accuracy_score(y_test, y_pred)
            self.results[name] = accuracy
            
            # Print confusion matrix and classification report
            print(f"\n{name} Results:")
            print("Confusion Matrix:")
            print(confusion_matrix(y_test, y_pred))
            print("\nClassification Report:")
            print(classification_report(y_test, y_pred, zero_division=1))

In [42]:
classifiers = {
    "Random Forest": RandomForestClassifier(),
    "Logistic Regression": LogisticRegression(max_iter=2000)
}

In [43]:
model_obj = ModelEvaluator(classifiers=classifiers)

In [45]:
model_obj.train_and_evaluate(X_train=train[cat_cols + num_cols], y_train=train['TARGET_LI'], X_test=test[cat_cols + num_cols], y_test=test['TARGET_LI'])

Training Random Forest...

Random Forest Results:
Confusion Matrix:
[[60337     0]
 [10592     0]]

Classification Report:
              precision    recall  f1-score   support

           N       0.85      1.00      0.92     60337
           Y       1.00      0.00      0.00     10592

    accuracy                           0.85     70929
   macro avg       0.93      0.50      0.46     70929
weighted avg       0.87      0.85      0.78     70929

Training Logistic Regression...

Logistic Regression Results:
Confusion Matrix:
[[60337     0]
 [10592     0]]

Classification Report:
              precision    recall  f1-score   support

           N       0.85      1.00      0.92     60337
           Y       1.00      0.00      0.00     10592

    accuracy                           0.85     70929
   macro avg       0.93      0.50      0.46     70929
weighted avg       0.87      0.85      0.78     70929